In [3]:
import pandas as pd

In [7]:
# Read the DataFrame and save it in the variable df.
df = pd.read_excel('C:\Language_Projects\Language_Projects\Python\Flagship_1\Immo_Assistant.app\data\year_make_model_df.xlsx')

<>:2: SyntaxWarning: invalid escape sequence '\L'
<>:2: SyntaxWarning: invalid escape sequence '\L'
C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_21712\507487594.py:2: SyntaxWarning: invalid escape sequence '\L'
  df = pd.read_excel('C:\Language_Projects\Language_Projects\Python\Flagship_1\Immo_Assistant.app\data\year_make_model_df.xlsx')

In [10]:
# Filter the Mazda and store into a variable
df_mazda = df[df['Make'] == 'Mazda']

In [11]:
# Create a list to store the rows with caractere \n
mazda_caractere_list = []
# Create a list to store the indexes to be removed 
mazda_caractere_index_list = []

# Loop in the lines of the df_mazda to find the caractere \n
for index, row in df_mazda.iterrows():
    # Condition when finding '\n' in the rows of column 'Security'
    if '\n' in row['Security']:
        # Store the rows with the said caractere in the list 
        mazda_caractere_list.append(row)
        # Store the indexes numbers containing the said caractere
        mazda_caractere_index_list.append(index)

# Change 'mazda_caractere_list' to dataframe
df_mazda_w_caract = pd.DataFrame(mazda_caractere_list)

In [12]:
# Check if the df is correct
df_mazda_w_caract.head()

,Year,Make,Model,Security,ParameterReset
1670,2006,Mazda,Mazda6,Keyed Ignition: M-B\nAdvanced Keyless: M-D,Parameter Reset Not Required
1672,2006,Mazda,MX-5 (Miata),Advanced Keyless Entry w/ Keyless Start): M-D\nKeyless Entry w/ Keyed Ignition: M-C,Parameter Reset Required
1673,2006,Mazda,RX-8,Keyed Ignition: M-C\nAdvanced Keyless: M-D,Parameter Reset Required
1899,2007,Mazda,CX-7,Keyed Ignition: M-C\nAdvanced Keyless: MD,Parameter Reset Required
1900,2007,Mazda,CX-9,Keyed Ignition: M-C\nAdvanced Keyless: M-D,Parameter Reset Required

In [13]:
# Split the security types in 2 lines (keeping year/model), using the caractere '\n' as delimiter
df_mazda_w_caract = df_mazda_w_caract.assign(Security=df_mazda_w_caract['Security'].str.split('\n')).explode('Security')

In [14]:
# Clear the df_mazda by removing the rows containing the caractere '\n' based on the index list
df_mazda = df_mazda.drop(index=mazda_caractere_index_list)

In [15]:
# Concatenate the dataframe after splitting lines with the main df_mazda
df_mazda_updated = pd.concat([df_mazda_w_caract, df_mazda])

In [16]:
# Sort the dataframe using the column 'Year' and reset index
df_mazda_updated = df_mazda_updated.sort_values(['Year']).reset_index().drop(columns=['index'])